@import 'nib'

$default-column-length ?= 9
$default-gutter-length ?= 1
$default-row-width ?= 100%
$default-total-column-count ?= 12
$default-total-length ?= $default-total-column-count * ($default-column-length + $default-gutter-length)

stylus-grid-length(length, total-length = $default-total-length, width = $default-row-width)
  return unit(length / total-length * unit(width, ""), unit(width))

cell(count, gutter-length = $default-gutter-length, total-length = $default-total-length, width = $default-row-width)
  display block
  float left
  margin-left stylus-grid-length(gutter-length, total-length, width)
  width stylus-grid-length(count, total-length, width)

column(count, column-length = $default-column-length, gutter-length = $default-gutter-length, total-length = $default-total-length, width = $default-row-width)
  cell(count * (column-length + gutter-length) - gutter-length, gutter-length, total-length, width)

offset(count, column-length = $default-column-length, gutter-length = $default-gutter-length, direction = left, total-length = $default-total-length, width = $default-row-width)
  margin-left stylus-grid-length(count * (column-length + gutter-length) + gutter-length, total-length, width) unless direction == right
  margin-right stylus-grid-length(count * (column-length + gutter-length), total-length, width) unless direction == left

row(gutter-length = $default-gutter-length, total-length = $default-total-length, width = $default-row-width)
  clearfix()
  display block
  margin-left -1 * stylus-grid-length(gutter-length, total-length, width)
  min-width stylus-grid-length(gutter-length, total-length, width)